<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta name="viewport" content="width=device-width, maximum-scale=4.0, minimum-scale=1.0, initial-scale=1.0, user-scalable=1" />
	<meta name="description" content="a place to find puns by daniel. "/>
	<meta name="author" content="eurica inc. "/>
	<link rel="icon" href="/images/logo-small.png" />
	<link rel="stylesheet" href="/styles/main.css" />
	<link rel="stylesheet" href="/styles/icomoon/style.css" />
	<link href='//fonts.googleapis.com/css?family=Shadows+Into+Light+Two|Coming+Soon' rel='stylesheet' type='text/css'>
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:description" content="{{ page.ogdescription }}" />
	{% if page.ogisarticle %}<meta property="og:type" content="article" />{% endif %}
	<meta property="og:site_name" content="2punny" />
	<meta property="og:image" content="/images/puns{{ page.url }}.png" />
	<meta property="og:url" content="http://2punny.uni.me{{ page.url }}" />
	<meta property="fb:app_id" content="560376084090127" />
</head>
<body>
	<header class="site-header">
		<h1><a href="/"><div class="circle">2punny</div></a></h1>
		<nav>
			<a href="/random" {% if page.url contains "/random" %}class="active"{% endif %}><i class="icon-shuffle"></i><!-- <span>rand<span class="hidewhensmall">om</span> --></span></a>
			<a href="/all" {% if page.url contains "/all" %}class="active"{% endif %}><i class="icon-drawer"></i><!-- <span><span class="hidewhensmall">see-'em-</span>all</span> --></a>
			<a href="http://facebook.com/2punny" target="_blank"><i class="icon-facebook"></i></a>
			<a href="/about" {% if page.url contains "/about" %}class="active"{% endif %}><i class="icon-info"></i><!-- <span>ab<span class="hidewhensmall">ou</span>t</span> --></a>
		</nav>
	</header>
	{{ content }}
	{% if page.footer != "hidden" %}
	<footer>
		<p>&copy; 2014 <a href="http://facebook.com/euricainc">eurica inc. </a></p>
	</footer>
	{% endif %}
	<script src="/scripts/main.js"></script>
</body>
</html>
