---
layout: default
footer: hidden
---
<main class="pun">
	<div class="puncontent" style="background: {{ page.background }}; color: {{ page.color }};">
		{{content}}
	</div>
	<div class="share">
		{% if page.previous %}<a class="btn previous" href="{{ page.previous.url }}"><i class="icon-arrow-left"></i>Prev</a>{% endif %}
		<a class="btn" href="#facebook"><i class="icon-facebook"></i><span class="hidewhensmall">Facebook</span></a>
		<a class="btn" href="#twitter"><i class="icon-twitter"></i><span class="hidewhensmall">Twitter</span></a>
		{% if page.next %}<a class="btn next" href="{{ page.next.url }}"><i class="icon-arrow-right"></i>Next</a>{% endif %}
	</div>
</main>